.clear {
	clear: both;
	
}
body,html{
	font-family: 'Lato','Helvetica','Arial';
	background-color: #f3f3f3;
}
h1{
	font-family: 'Helvetica';
	color: #cf8a05;
}

#headshot {
	width: 11%;
	float: left;		
}
img{
	border-radius: 50%;
	width: 100px;
}

#name {
	float: left;
}
#name h1{
	color: black;
	font-size: 2.2rem;
	margin: 0;
}
#name h2{
	font-size: 1.8rem;
	font-weight: 500;
	
}

#contactDetails {
	float: right;
	
}
#contactDetails a{
	color: #181818;
}
.mainDetails{
	margin: auto;
    max-width: 1100px;
	padding: 20px;
}
#mainArea{
	border-top: 2px solid #cf8a05;
	max-width: 1100px;
	margin: 0 auto;
}
ul{
	margin-right: 40px;
	list-style: none;
	padding: 10px;
}
section{
	padding: 15px;
	border-bottom: 1px solid #dedede;
}

.sectionTitle {
	float: left;
	width: 25%;
	
}
.sectionTitle h1{
	font-style: italic;
	font-size: 25px;
	margin-left: 40px;
	font-weight: 500;
}
.p{
	font-size: 20px;
}

.sectionContent {
	float: right;
    width: 75%;
}
.sectionContent ul li{
	color: #444444;
	font-size: 20px;
	width: 190px;
	float: left;
	
}

article p, .subDetails{
	color: #444444;
	margin-top: 0;
}
article h2{
	font-weight: 500;
	margin: 0;
}